services:
  db-donor-calendar:
    image: postgres:18
    container_name: db-donor-calendar
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: donor
      POSTGRES_PASSWORD: donor-password
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "donor"]
      interval: 10s
      timeout: 5s
      retries: 5

  donor-calendar:
    image: donor-calendar:latest
    container_name: donor-calendar
    ports:
      - "8080:8080"
    environment:
      DB_HOST: db-donor-calendar
      DB_PORT: 5432
      DB_NAME: donor
      DB_USERNAME: donor
      DB_PASSWORD: donor-password
    depends_on:
      db-donor-calendar:
        condition: service_healthy
