<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>heroku</id>
            <properties>
                <dockerfile.skip>true</dockerfile.skip>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>heroku</activeProfile>
    </activeProfiles>
</settings>
