name: Renovate

on:
  schedule:
    - cron: '0 2 * * *' # daily at 2:00 UTC
  workflow_dispatch:    # manual trigger option

jobs:
  renovate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0   # required for Renovate to detect branches

      - name: Run Renovate
        uses: renovatebot/github-action@c91a61c730fa166439cd3e2c300c041590002b1d # v44.0.3
        with:
          token: ${{ secrets.RENOVATE_TOKEN }}
